language: php
  php:
    - 7.2

services:
  - docker
  - docker-compose
  - mariadb

install:
  - composer install
  - php bin/console doctrine:database:create --env=test
  - php bin/console doctrine:generate:entities --env=test

script:
  - php bin/phpunit
